


{% extends 'base2.html' %}
{% load staticfiles %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="{% static 'js/main.js' %}"></script>

<!-- Top Numbers enclosed in circles -->
<div class="row" id="totals" style="min-width: 310px; height: 300px; margin: 0 auto">
	<div class="col-sm-2" ></div>
	<div class="col-sm-2 numberCircle" id="passenger_total">30</div>
	<div class="col-sm-2 numberCircle" id="booking_total">30</div>
	<div class="col-sm-2 numberCircle" id="driver_total">30</div>
	<div class="col-sm-2 numberCircle" id="payment_total">30</div>
	<div class="col-sm-2 "></div>
</div>
<div class="row">
	<div class="col-sm-2" >&nbsp;&nbsp;</div>
	<div class="col-sm-2 center" >Total # Passengers</div>
	<div class="col-sm-2 center" >Total # Bookings</div>
	<div class="col-sm-2 center" >Total # Drivers</div>
	<div class="col-sm-2 center" >Total # Payments</div>
	<div class="col-sm-2 ">&nbsp;&nbsp;</div>
</div>

<!-- Bottom Column chart -->
<div id="chart" style="min-width: 310px; height: 400px; "></div>

<script type="text/javascript">
	$( document ).ready(function() {    drawChart('chart'); });
</script>


{% endblock %}
